name: job-pipeline

trigger: none

pool: sunilpool

jobs:
- job: terraform_install
  displayName: Terraform Install
  steps:
  - task: TerraformInstaller@1
    inputs:
      terraformVersion: 'latest'

 
- job: terraform_init
  displayName: Terraform Init
  dependsOn: terraform_install
  steps:
  - task: TerraformTask@5
    inputs:
      provider: azurerm
      command: init
      commandOptions: '-upgrade'
      workingDirectory: '$(System.DefaultWorkingDirectory)/'
      backendServiceArm: 'sunilsvc'
      backendAzureRmResourceGroupName: 'Rg_rohit'
      backendAzureRmStorageAccountName: 'stgrgrohit'
      backendAzureRmContainerName: 'stgrgrohitctr'
      backendAzureRmKey: 'kuchhbhi.tfstate'

- job: terraform_plan
  displayName: Terraform Plan
  dependsOn: terraform_init
  steps:
  - task: TerraformTask@5
    inputs:
      provider: azurerm
      command: plan
      workingDirectory: '$(System.DefaultWorkingDirectory)/'
      environmentServiceNameAzureRM: 'sunilsvc'

- job: terraform_apply
  displayName: Terraform Apply
  dependsOn: terraform_plan
  steps:
  - task: TerraformTask@5
    inputs:
      provider: azurerm
      command: apply
      workingDirectory: '$(System.DefaultWorkingDirectory)/'
      environmentServiceNameAzureRM: 'sunilsvc'
      commandOptions: '-auto-approve'