name: terraform-pipeline
trigger: none

pool:
  name: selfagent

jobs:
- job: terraform_all
  displayName: Terraform Init Plan Apply
  steps:
  - checkout: self

  # OPTIONAL if terraform already in PATH
  # - task: TerraformInstaller@1
  #   inputs:
  #     terraformVersion: '1.6.6'

  - task: TerraformTask@5
    displayName: Terraform Init
    inputs:
      provider: azurerm
      command: init
      commandOptions: '-reconfigure -upgrade'
      workingDirectory: '$(System.DefaultWorkingDirectory)'
      backendServiceArm: 'selfagent'
      backendAzureRmResourceGroupName: 'selfagent'
      backendAzureRmStorageAccountName: 'selfagent'
      backendAzureRmContainerName: 'selfagent'
      backendAzureRmKey: 'self.tfstate'

  - task: TerraformTask@5
    displayName: Terraform Plan
    inputs:
      provider: azurerm
      command: plan
      workingDirectory: '$(System.DefaultWorkingDirectory)'
      environmentServiceNameAzureRM: 'selfagent'

  - task: TerraformTask@5
    displayName: Terraform Apply
    inputs:
      provider: azurerm
      command: apply
      workingDirectory: '$(System.DefaultWorkingDirectory)'
      environmentServiceNameAzureRM: 'selfagent'
      commandOptions: '-auto-approve'
