name: terraform-pipeline

trigger: none

pool: sunilpool

jobs:
- job: terraform_all
  displayName: Terraform Init | Plan | Apply
  steps:

  # 1️⃣ Checkout code
  - checkout: self
    clean: true

  # 2️⃣ Install Terraform
  - task: TerraformInstaller@1
    displayName: Install Terraform
    inputs:
      terraformVersion: 'latest'

  # 3️⃣ Azure Login (Service Connection)
  - task: AzureCLI@2
    displayName: Azure Login
    inputs:
      azureSubscription: 'FinalSVC'
      scriptType: ps
      scriptLocation: inlineScript
      inlineScript: |
        az account show

  # 4️⃣ Terraform Init (Remote Backend)
  - task: PowerShell@2
    displayName: Terraform Init
    inputs:
      targetType: inline
      workingDirectory: $(System.DefaultWorkingDirectory)
      script: |
        terraform version

        terraform init `
          -upgrade `
          -backend-config="resource_group_name=Rg_rohit" `
          -backend-config="storage_account_name=stgrgrohit" `
          -backend-config="container_name=stgrgrohitctr" `
          -backend-config="key=terraform.tfstate" `
          -backend-config="subscription_id=4f20f78d-e549-4182-af3e-0437bdcacf18" `
          -backend-config="use_azuread_auth=true"

  # 5️⃣ (ONE-TIME) Terraform Import – RG
  # ⚠️ Is step ko successful import ke baad COMMENT / REMOVE kar dena
  - task: PowerShell@2
    displayName: Terraform Import Resource Group (Run once)
    inputs:
      targetType: inline
      workingDirectory: $(System.DefaultWorkingDirectory)
      script: |
        terraform import azurerm_resource_group.sonil `
        /subscriptions/4f20f78d-e549-4182-af3e-0437bdcacf18/resourceGroups/Rg_rohit

  # 6️⃣ (ONE-TIME) Terraform Import – Storage Account
  # ⚠️ Isko bhi sirf ek baar chalana
  - task: PowerShell@2
    displayName: Terraform Import Storage Account (Run once)
    inputs:
      targetType: inline
      workingDirectory: $(System.DefaultWorkingDirectory)
      script: |
        terraform import azurerm_storage_account.tfstate `
        /subscriptions/4f20f78d-e549-4182-af3e-0437bdcacf18/resourceGroups/Rg_rohit/providers/Microsoft.Storage/storageAccounts/stgrgrohit

  # 7️⃣ Terraform Plan
  - task: PowerShell@2
    displayName: Terraform Plan
    inputs:
      targetType: inline
      workingDirectory: $(System.DefaultWorkingDirectory)
      script: |
        terraform plan

  # 8️⃣ Terraform Apply
  - task: PowerShell@2
    displayName: Terraform Apply
    inputs:
      targetType: inline
      workingDirectory: $(System.DefaultWorkingDirectory)
      script: |
        terraform apply -auto-approve
