name: terraform-pipeline
trigger: none

pool:
  name: selfagent

jobs:
- job: terraform_install
  displayName: Terraform Install
  steps:
  - task: TerraformInstaller@1
    inputs:
      terraformVersion: 'latest'


- job: terraform_init
  displayName: Terraform Init
  dependsOn: terraform_install
  steps:
  - task: TerraformTask@5
    inputs:
      provider: azurerm
      command: init
      workingDirectory: '$(System.DefaultWorkingDirectory)/'
      backendServiceArm: 'selfagent'
      backendAzureRmResourceGroupName: 'selfagent'
      backendAzureRmStorageAccountName: 'selfagent'
      backendAzureRmContainerName: 'selfagent'
      backendAzureRmKey: 'self.tfstate'


- job: terraform_plan
  displayName: Terraform Plan
  dependsOn: terraform_init
  steps:
  - task: TerraformTask@5
    inputs:
      provider: azurerm
      command: plan
      workingDirectory: '$(System.DefaultWorkingDirectory)/'
      environmentServiceNameAzureRM: 'selfagent'


- job: terraform_apply
  displayName: Terraform Apply
  dependsOn: terraform_plan
  steps:
  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'apply'
      workingDirectory: '$(System.DefaultWorkingDirectory)/'
      commandOptions: '--auto-approve'
      environmentServiceNameAzureRM: 'selfagent'


